/* THE BORDER IS FOR DEBUGGING PURPOSES */
/* {
    border: 5px  solid red;
}*/

@font-face {
  font-family: 'Open-Dyslexic';
  src: url('./fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Dyslexic';
  src: url('./fonts/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Open-Dyslexic', sans-serif;
}
.Outside {
    display: flex;
    flex-direction: column;
    color: #000000;
}
.title {
    border-color: #ff0000;
    /* background-image: url("yellowblue.jpg"); */
    background-color: #fbde7b;
    margin: 0px;
    padding: 80px;
}
.upload {
    border-color: black;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px; /* Space between columns */
    padding: 20px;
  }
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.faq {
    border-color: black;
}
.absolute-container {
    position: relative;
    height: 150px; /* Set a height for the container */
    padding: 20px;
    border: 1px solid #f00;
}
  
.left-abs {
    position: absolute;
    left: 20px; /* Distance from the left edge */
    top: 20px;
}
  
.right-abs {
    position: absolute;
    right: 20px; /* Distance from the right edge */
    top: 20px;
}
.footer {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    gap: 180px;
    padding: 20px;
}
.footer-left {
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}
.footer-right {
    align-items: center;
    justify-content: center;
    margin-right: 120px;
}
.roboto-uniquifier {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  

.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
  }

  .uploader-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  /* Left side container for the image or placeholder */
  .image-placeholder {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for placeholder text */
  .placeholder-text {
    color: #999;
    text-align: center;
  }
  
  /* Make sure the uploaded image fits within the container */
  .preview {
    max-width: 100%;
    max-height: 100%;
  }
  
  /* Right side container for the file input */
  .upload-controls {
    flex: 1;
  }